[submodule "engine/vendor/glfw"]
	path = engine/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "engine/vendor/glew"]
	path = engine/vendor/glew
	url = https://github.com/Perlmint/glew-cmake.git